::ng-deep .public-page {
    .wrap {
      &:before,
      &:after {
        background: transparent;
      }
      .auth-main {
        vertical-align: top;
        &:before {
          background: #fff;
        }
        .auth-box {
         margin: inherit;
         width: fit-content;
         padding: inherit;
  
         .accordion-manual {
          min-height: calc(100vh - 5.3rem);
         }
       }
      }
    }
  
    .p-accordion {
      .p-accordion-header {
        .p-accordion-header-link {
          color: #333;
          border-color: #e9e9e9;
          padding: 0.8rem;
          font-size: 1rem;
        }
        &:not(.p-disabled) {
          &.p-highlight {
            .p-accordion-header-link {
              background: #1790e2;
              border-color: #1790e2;
              color: #fff;
              font-size: 1rem;
            }
          }
        }
        .p-accordion-header-link {
          background: transparent;
        }
      }
  
      .p-accordion-content {
        background: #fff;
        border-color: transparent;
        color: #495057;
        .nav-link {
          padding: 0.3rem;
          background: #fff;
          border: 0;
          &.active {
            background: #1790e2;
          }
        }
        .tab-content {
          min-height: fit-content;
          border: none;
        }
      }
  
    }
  }
  